.spa-component-page {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    overflow: hidden;
    outline: 1px dashed #005000;
    outline-offset: -1px; }
    .spa-component-page.hidden {
        display: none; }
    .spa-component-page.active {
        visibility: inherit; }
    .spa-component-page.focus {
        outline: 1px dashed red; }
